body {
  margin: 0;
}

@font-face {
  font-family: 'BookmanStd-DemiItalic';
  src: local('BookmanStd-DemiItalic'), url(./fonts/BookmanStd-DemiItalic.otf)
}

@font-face {
  font-family: 'BookmanStd-MediumItalic';
  src: local('BookmanStd-MediumItalic'), url(./fonts/BookmanStd-MediumItalic.otf)
}

@font-face {
  font-family: 'Courier New';
  src: local('Courier New'), url(./fonts/Courier\ New.ttf)
}

@font-face {
  font-family: 'BookmanStd-Medium';
  src: local('BookmanStd-Medium'), url(./fonts/BookmanStd-Medium.otf)
}